*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:'Onest', sans-serif;
  }

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(81, 9, 19, 0.8), rgba(85, 12, 22, 0.8)), url(../img/login-bckgrnd.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Onest', sans-serif;
}

.menu{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.bread-crumbs{
  position: relative;
  top: 8%;
  left: 50%;
  transform: translate(-50%, 0%); /*centra*/
  width: 100%;
  height: 10%;
  
}

.bread-crumbs ul{
  display: flex;
  justify-content: center;
}

.bread-crumbs ul li{
    width: 100px;
    margin-right: 10%;
    position: relative;   

}

.bread-crumbs ul li:last-child{
  margin-right: 0;
}

.bread-crumbs ul li a{
  text-align: center;
  color: white;
  font-size: 18px;
}



.bread-crumbs ul li a .icono{
  display: block;
  width: 90%;
  height: 70%;
  margin: 0 auto 12px;
  background-color: rgb(255, 255, 255);
  line-height: 90px;
  color: rgb(137, 33, 47);
  border-radius: 50px;
  font-size: 200%;
  border: 3px solid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8);
}

.bread-crumbs ul li a .icono-carrito{
  display: block;
  width: 90%;
  height: 70%;
  margin: 0 auto 12px;
  background-color: rgb(255, 255, 255);
  line-height: 90px;
  color: rgb(137, 33, 47);
  border-radius: 50px;
  font-size: 200%;
  border: 3px solid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8);
}



img{
  width: 350px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
}

p{
  text-align: center;
}

.precio-total{
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
  font-weight: bold;
  background-color: white;
}

.platos{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  
  
}

.food{
  width: 25%;
  background-color: rgb(255, 255, 255);
  border: 15px solid rgb(137, 33, 47);
  margin: 30px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px;
  transition: 0.4s;  
  box-sizing: border-box;
  float: left;
}

.food:hover{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transform: translate(0px, -8px);
}

.añadido{
    flex-basis: 48%;
    background: rgb(137, 33, 47);
    height: 40px;
    color: aliceblue;
    border-radius: 20px;
    border: none;
    outline: 0;
    cursor: pointer;
    transition: opacity 0.25s;
    margin-bottom: 10px;
    padding: 10px;
}

button:active{
  background-color: rgb(255, 255, 255);
  color: rgb(137, 33, 47);
}

header{
  background-color: white;
  padding: 20px;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8);

}

.contenido-carrito{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;


}
.carrito-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.carrito-header h3{
  font-size: 1.3rem;

}

.producto{
  background-color: brown;
  margin: 30px;
  text-align: center;
  box-shadow: 0 14px 28px;
  width: 25%;
  padding-top: 10px;
  border-radius: 20px;
  
}

.trash{
  background-color: brown;
  color: black;
  font-size: 30px;
  outline: none;
  border: none;
}

.trash :active{
  color: white;
  background-color: brown;
}

.header-less{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.check{
  display: flex;
  width: 130px;
  height: 130px;
  background-color: rgb(255, 255, 255);
  border: 10px solid rgb(137, 33, 47);
  border-radius: 100px;
  justify-content: center;
}
.icono-completado{
  font-size: 500%;
  color: rgb(137, 33, 47);
  margin-top: 15px;
}
.completado-contenido{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  width: 50%;
  background-color: rgb(255, 255, 255);
  border: 15px solid rgb(137, 33, 47);
  margin: 30px;
  text-align: center;
  border-radius: 20px;
  padding-top: 10px;
  box-shadow: 0 14px 28px;

}

.contador{
  display: flex;
  justify-content: center;  
  width: 50%;
  background-color: rgb(255, 255, 255);
  border: 15px solid rgb(137, 33, 47);
  margin: 30px;
  text-align: center;
  justify-content: space-around;
  border-radius: 20px;
  padding-top: 10px;
  box-shadow: 0 14px 28px;
}

.minutos, .segundos{
  font-size: 3rem;
}

@media(max-width:1550px){
  .food{
      width: 45%;
  }
  .food:nth-child(3){
    margin: 30px;
  }

  .producto{
    width: 40%;
  }
  .producto:nth-child(3){
    margin: 30px;
  }
}

@media(max-width:1200px){
  .food{
      width: 65%;
  }
  .food:nth-child(2){
    margin: 30px;
  }

}  

@media(max-width:900px){
  .producto{
      width: 65%;
  }
  .producto:nth-child(2){
    margin: 30px;
  }

} 

@media(max-width:800px){
  .food{
      width: 100%;
  }
  .food:nth-child(2){
    margin: 30px;
  }
  .producto{
    width: 70%;
  }
  .producto:nth-child(2){
    margin: 30px;
  }
}   



