*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Onest', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(81, 9, 19, 0.8), rgba(85, 12, 22, 0.8)), url(../img/login-bckgrnd.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Onest', sans-serif;
}

.formulario{
    width: 90%;
    max-width: 450px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px 60px 70px;
    text-align: center; 
    border-radius: 10px;
    
}

.formulario h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: rgb(137, 33, 47);
    position: relative;
}

.formulario h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: rgb(137, 33, 47);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(137, 33, 47);
    margin: 30px 0;
}

.input-field input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;  
    font-size: 1em;
    font-weight: 600;
}

.input-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    transition: .5s;
}

.input-field input:focus~label /*si se hace click en el campo las etiquetas subiran 5px*/
{
    top: -5px;
}

.input-field input:valid~label /*las etiquetas permanecerán arriba si hay texto escrito en los campos*/
{
    top: -5px;
}

.input-field .icono{
    position: absolute;
    right: 8px;
    line-height: 57px;
}

.botones{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.botones button{
    flex-basis: 48%;
    background: rgb(137, 33, 47);
    height: 40px;
    color: aliceblue;
    border-radius: 20px;
    border: none;
    outline: 0;
    cursor: pointer;
    transition: opacity 0.25s;
    margin-right: 10px;
}
.botones button:hover{
    opacity: 0.8;
}

#demo{
    font-weight: 600;
    color: red;
}

